
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Coaching Arena</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon-precomposed" href="{{ media_url('arena_app/icon-iphone.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ media_url('arena_app/icon-iphone-retina.png') }}">
      <link rel="shortcut icon" href="{{ media_url('arena_app/favicon.png') }}" type="image/x-icon">


    <script type="text/javascript">
    var addToHomeConfig = {
        autostart: false
    };
    </script>


      <link rel="stylesheet" href="{{ media_url('arena_app/add2home.css') }}">
      <script type="application/javascript" src="{{ media_url('arena_app/add2home.js') }}" charset="utf-8"></script>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      .masthead h1 {
          font-size: 2em;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      #clear_qualities {
          margin-left: 5em;
      }
      #qualities ul li {
          list-style: none;
          margin-bottom: 4px;
      }
      #qualities ul {
          margin-left: 0;
          margin-right: 20px;
          float: left
      }

      .clear {
          clear: both;
      }

      .footer {
          font-size: 0.8em;
          color: #666;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

      {% set qualities = [
            'Alert',
            'Appreciative',
            'Attentive',
            'Clear',
            'Compassionate',
            'Courageous',
            'Creative',
            'Empowering',
            'Enthusiastic',
            'Flexible',
            'Focused',
            'Generous',
            'Gentle',
            'Grateful',
            'Joyous',
            'Kind',
            'Loving',
            'Open',
            'Present',
            'Receptive',
            'Supportive',
            'Truthful',
            'Vulnerable',
         ]

      %}
      <script type="text/javascript">

function loaded () {
	if ( window.location.hash.match('returning') ) return;

	addToHome.show();
	window.location.hash = '#returning';
}

window.addEventListener('load', loaded, false);

</script>
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <h1 class="muted">The Coaching Arena</h1>
      </div>


      <div id="qualities">
        <h4>Qualities of Being <button class="btn btn-warning btn-small" id="clear_qualities">Reset</button></h4>
          {% for qualities_col in qualities|slice(2) %}
            <ul>
                {% for quality in qualities_col %}
                    <li><button class="btn" data-toggle="button" data-quality="{{ quality|lower }}">{{ quality }}</button></li>
                {% endfor %}
            </ul>
          {% endfor %}
      </div>


      <div id="questions" class="clear">
          <h4>Arena Questions</h4>
          <ol>
              <li>Who am I willing to be in order to produce an extraordinary result out of this interaction? <em>(<span id="qualities_selected">None</span>)</em></li>
              <li>Am I willing to systematically dismantle my structure of knowing?</li>
              <li>Am I willing to be a demand for coaching?</li>
              <li>Am I willing to guarantee that whoever coaches me will be successful?</li>
          </ol>
      </div>


      <hr>

      <div class="footer">
        <p>Built with love by <a href="/">Life and Leadership Coach Jeremy Blanchard</a></p>
        <p>The Coaching Arena is Copyright &copy; 2013 by The Academy for Coaching Excellence</p>
      </div>

    </div> <!-- /container -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

      <script>

      var qualities_arr = {
      {% for quality in qualities %}
          '{{ quality|lower }}': "{{ quality }}",
      {% endfor %}
      };

        $(function() {

          // Toggle qualities on click
          $('#qualities ul li button').click(function(e) {
            var $this = $(this);
            $this.toggleClass('btn-primary');
            saveQualities();
          });

          // Reset qualities when called
          $('#clear_qualities').click(function(){
              clearQualities();
          });


          function placeQualities(qualities) {
              var thenames = [];
              $.each(qualities, function(key, val) {
                  thenames.push(qualities_arr[val]);
              });
              $('#qualities_selected').html(thenames.join(', '));
          }


          function saveQualities() {
            if (Modernizr.localstorage) {
                // window.localStorage is available!
                var activeQualities = [];
                $('#qualities ul li button.btn-primary').each(function(key, val) {
                    activeQualities.push($(val).data('quality'));
                });
                placeQualities(activeQualities);
                window.localStorage['activeQualities'] = JSON.stringify(activeQualities);
            } else {
              // no native support for HTML5 storage :(
            }
          }


          function loadQualities() {
            if (Modernizr.localstorage) {
                // window.localStorage is available!
                var qualities = JSON.parse(window.localStorage['activeQualities']);
                $.each(qualities, function(key, val) {
                    $('#qualities ul li button[data-quality="'+val+'"]').addClass('active').addClass('btn-primary');
                });
                placeQualities(qualities);
            } else {
              // no native support for HTML5 storage :(
            }
          }

          function clearQualities() {
              $('#qualities ul li button').removeClass('active').removeClass('btn-primary');
              window.localStorage['activeQualities'] = '';
          }



          // Load qualities from local storage on first page load
          loadQualities();
        });
      </script>

  </body>
</html>
