---
title: Jeremy Blanchard Life Coaching
description: Life and leadership coaching from coach-in-training Jeremy Blanchard
---

{% extends "columns.j2" %}


{% block content %}
    <h1>Jeremy Blanchard Life & Leadership Coaching</h1>
    <p>I'm just getting started on this journey to become a certified life coach. If you want to hear some highlights along the way or are interested in getting coaching, add your email address below. Thanks, friends!</p>

    <!-- // MAILCHIMP SUBSCRIBE CODE \\ -->
    <h2><a href="http://eepurl.com/qO4tz" class="btn success">Click here updates on Jeremy's coaching Journey</a></h2>
    <!-- \\ MAILCHIMP SUBSCRIBE LINK // -->

{% endblock %}