---
title: Jeremy Blanchard
subtitle: Life & Leadership Coach for Changemakers
description: Life & Leadership coach for activists, change-makers, and radicals
---

{% extends "columns.j2" %}


{% macro project_list(list) -%}
<ul class="list" xmlns="http://www.w3.org/1999/html">
{% for item in list -%}
    <li><strong><a href="{{ item.url }}">{{ item.title }}</a></strong>
        {% if item.description %}
        <br>
        <span class="description">
            {{ item.description }}
        </span>
        {% endif %}
    </li>
{%- endfor %}
</ul>
{%- endmacro %}

{% block main %}

<section id="about">
<div class="page-header"><h2>What is Life Coaching?</h2></div>
{% filter markdown -%}
{#Hi, friend! I'm **Jeremy**.#}
{##}
{#I want to change the world.#}
{##}
{#I want to do that by supporting the people who are making change.#}
{##}
{#Have you experienced taking a step back from going for a goal that really speaks to your heart?#}
{#Like leaving your day job to make money in a way that makes a bigger difference in the world?#}
{##}
{#Life coaching is a set of tools that can help you go past the point where you often stop yourself.#}
{#As a coach, I support you in becoming clear on what is most important to you, often when there are competing priorities.#}
{#And once your priorities are clear, we'll work together to transform your goals from visions into reality.#}
{##}
{#Are you interested in learning a bit more about coaching and how it might be supportive in your situation?#}
{#If so, email me saying "Hi!" at <a href="mailto:coach@blanchardjeremy.com?subject=Coaching Interest!&body=Hi there! I'd love to chat more about coaching!">coach@blanchardjeremy.com</a>.#}
{##}
{#<br>#}
{#<a href="mailto:coach@blanchardjeremy.com?subject=Coaching Interest!&body=Hi there! I'd love to chat more about coaching!" class="btn success">Email me to learn more about coaching</a>#}

Hi friend! I'm Jeremy.

I'm a Life & Leadership coach for changemakers.

Life coaching is a set of tools that can help you go past the point where you often stop yourself.
As a coach, I support you in becoming clear on what is most important to you, often when there are competing priorities.
And once your priorities are clear, we'll work together to transform your goals from visions into reality.

Want to get a taste of whether coaching is right for you? Click here:

<a href="/gift" class="btn large success giftcertbtn">Complimentary 60-minute coaching session gift certficiate &rarr;</a>
    <br><br>
<span class="customalert">Offer runs until <strong>March 31st</strong></span>

<style>
.customalert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

a.btn.giftcertbtn {
    font-size: 1.0em;
}
</style>

{%- endfilter %}

{% endblock main %}


{% block sidebar %}
<div style="text-align: center" class="media-grid">

    <img src="http://gravatar.com/avatar/d041d96ffc0a40b34cff3141860dd5dd?s=160" alt="Jeremy Blanchard" class="border">
</div>

<h3>Find Me</h3>
<ul id="profiles">
{% for profile in profiles %}
    <li><a href="{{ profile.url }}">{{ profile.title }}</a></li>
{% endfor %}
</ul>
    
{% endblock sidebar %}