---
title: Mind/Body/Spirit Calendar Eugene, OR
description: Mind, body, spirit, energy workshops and events in Eugene, OR
---

{% extends "columns.j2" %}


{% block content %}
    <h1>Mind/Body/Spirit Calendar Eugene, OR</h1>
    <p>This calendar serves as a mixed space for mind, body, and spirit events and workshops in Eugene. This can range from Acro Yoga, to ecstatic dance, to meditation, to lots of other things!</p>
    <p>Email Jeremy at blanchard.jeremy@gmail.com if you'd like to add an event to this calendar. (Eventually we can find a way for lots of folks to have direct access to add things.</p>
    <p>Subscribe:</p>
    <ul>
        <li><a href="https://www.google.com/calendar/ical/3l1aj6ikt8npi7l9nm2nnkj0no%40group.calendar.google.com/public/basic.ics">Subscribe with iCal</a></li>
        <li><a href="https://www.google.com/calendar/render?cid=3l1aj6ikt8npi7l9nm2nnkj0no%40group.calendar.google.com">Subscribe with Google Calendar</a></li>
    </ul>
    <iframe src="https://www.google.com/calendar/embed?showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=700&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=3l1aj6ikt8npi7l9nm2nnkj0no%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="700" frameborder="0" scrolling="no"></iframe>
{% endblock content %}