---
title: Make a payment
subtitle:
description: Book a meeting with Jeremy Blanchard
---

{% extends "columns.j2" %}


{% block content %}
{% filter markdown -%}
# Making Payments
I accept payments online and by check. My preferred method is through Dwolla.

## Online
Please make online payments through [**Dwolla**](http://refer.dwolla.com/a/clk/4xNctN). It's easier and cheaper than using PayPal, and it goes directly from your bank to my bank, without supporting any credit card companies.


**Sending Payments**

If you already have a Dwolla account, use this link:

<a href="https://www.dwolla.com/hub/jeremyblanchardcoaching" class="btn primary large">Send Payment via Dwolla</a>


**Setting Up Dwolla**

To setup your payments for the first time, simply:

1. [**Create an account at Dwolla**](http://refer.dwolla.com/a/clk/4xNctN)
2. **Link your bank account** to Dwolla
    * Instructions to link your bank account are on the [top half of this page](http://help.dwolla.com/customer/portal/articles/235882-how-can-i-add-funds-into-my-dwolla-account-video-).
    * Verifying your bank account takes a few days. Don't worry if your first payment doesn't go through before our first session.
3. [**Send your first payment**](https://www.dwolla.com/hub/jeremyblanchardcoaching)
    * You just need to "Send Money" and Dwolla will automatically withdraw that money from your bank. You do *not* need to "deposit" money into your Dwolla account before sending it.

---------


## By Check
If Dwolla doesn't work for you, please mail me a check.

    Payable to: Jeremy Blanchard

    Mail to:
    Jeremy Blanchard
    1539 Villard St
    Eugene, OR 97403


{%- endfilter %}
{% endblock content %}