---
title: Running Lean Flowchart
subtitle: With Jeremy!
description: Book a meeting with Jeremy Blanchard
---

{% extends "base.j2" %}

{% block body %}

<style>
body, html {
	background-color: white;
}
body {
	padding: 1em;
}
</style>

<h1>Running Lean Flowchart</h1>
<p>See <a href="http://blog.blanchardjeremy.com/post/25854027305/running-lean-flowchart" style="font-weight:bold;">blog post</a> for details on this flowchart and Running Lean.</p>

<a href="http://blog.blanchardjeremy.com/post/25854027305/running-lean-flowchart"><img src="https://dl.dropbox.com/s/bb1dmfwzz73d766/running-lean-flowchart-full.jpg" style="width: 2624px; height: 1399px;"></a>

{% endblock %}