{% macro render_main_menu() -%}
<ul class="nav">
<li class="{% if resource.url=='index.html' %}active {% endif %}logo_item"><a href="#top">JB</a></li>
{% for menu_item in menu -%}
  <li{% if menu_item.url == '/'+resource.url or (menu_item.url+'/index.html'=='/'+resource.url) %} class="active"{% endif %}><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

