/* Colors: http://kuler.adobe.com/#themeID/1538583 */


html, body {
    background-color: #799AA5;
}


h1, h2, h3, h4, h5 {
    font-family: Rockwell, Georgia, serif;
}

h1 {
    color: #2B4E69;
    font-size: 3em;
}

h1 small {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.4em;
}

h1, h2, h3 {
    text-shadow: 1px 1px 1px white;
}

body {
    font-family: Tahoma, Helvetica,  sans-serif;
}


section {
    padding-top: 40px;
}

section#about {
    padding-top: 0;
}


a {
    color: #682321;
}
a:hover {
    color: #964A45;
}

.main p, .main ul {
    font-size: 1.2em;
    line-height: 1.3em;
}

.list li {
    margin-bottom: 0.8em;
}


.border {
    padding: 4px;
    margin: 0 0 18px 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}


footer {
    color: #ccc;
    border-top: 0;
}
footer a {
    color: #ccc;
    text-decoration: underline;
}


.logo_item {
    font-weight: bold;
}